select {
    padding: 10px;
  }
  select,
  input {
    margin: 10px 0;
  }
  form{
padding: 30px;
margin-top: 8%;
  }
  #submit{
    background-color: rgb(106, 108, 240);
    width: 100px;
    font-weight: 600;
    color: ghostwhite;
    margin-left: 27%;
    border-radius: 2px;
    border-style: none;
    box-shadow: 1px 4px 4px grey;
  }
 
  form input{
    height: 42px;
width: 272px;
font-size: 16px;
border: 1px solid black;
padding: 10px;
border: 2px solid rgb(133, 114, 238);
border-radius: 5px;
  }
  form select{
    font-size: 16px;
    width: 272px;
    padding: 10px;
border: 2px solid rgb(133, 114, 238);
border-radius: 5px;
  }
  .container{
    display: flex;
    background-color: ghostwhite;
border-radius: 10px;
box-shadow: grey 1px 2px 7px 3px;
/* border: 1px solid black; */
width: fit-content;
margin-top: 10%;
margin-left: 31%;
height: 400px;
  }
  .side-img img{
    width: 290px;
height: 400px;
border-radius: 10px;
margin-top: 0;
border-top-left-radius: 0%;
border-bottom-left-radius: 0%;
  }
